{% extends '::base.html.twig' %}
{% block body %}
	<div class="container">
  
  <!-- inizio colonna form aggiungi cliente -->
        <div class="col-md-6">
          <h2>Lista clienti</h2>
          <br>
          <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>

  <!-- Table -->
  <table class="table">
    <tbody>
      <td><ul>
  {% for cliente in form_lista %}
    <li>{{ cliente.cognome }} {{ cliente.nome }}</li>
  {% endfor %}
</ul></td>
      

    </tbody>
  </table>
</div>
              <!-- fine colonna form aggiungi cliente -->
          
          
        
        </div></div>
        <!-- inizio colonna form persone aggiuntive -->
        <div class="col-md-6">
        	
        </div>
        <!-- fine colonna form persone aggiuntive -->
</div>
       
{%endblock%}