{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
  
  <!-- inizio colonna form aggiungi cliente -->
        <div class="col-md-6">
        <h2>Crea nuovo contratto</h2>
          <br>
	<ul>
	{% for cliente in clienti %}

		<li>{{cliente.nome}} {{cliente.cognome}}
		
	

	

<a href="{{ url('stampa_pdf', {id: cliente.id} ) }}"><button type="button" class="btn btn-default">Edit</button></a></li></ul>
{% endfor %}
{% endblock %}


