{% extends '::base.html.twig' %}

{% block body %}

	<ul>
	{% for cliente in clienti %}
		<li><a href="{{ url('stampa_pdf', {id: cliente.id} ) }}">{{cliente.nome}}</small></a>
	{% endfor %}
	</ul>

{% endblock %}


