.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.432129;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.390137;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.676758;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.322266;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.722656;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:1.394043;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:1.432129;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffc;src:url(fc.woff)format("woff");}.ffc{font-family:ffc;line-height:1.322266;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffd;src:url(fd.woff)format("woff");}.ffd{font-family:ffd;line-height:1.394043;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffe;src:url(fe.woff)format("woff");}.ffe{font-family:ffe;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls1c{letter-spacing:-0.792000px;}
.ls17{letter-spacing:-0.696000px;}
.ls11{letter-spacing:-0.648000px;}
.ls10{letter-spacing:-0.640320px;}
.ls13{letter-spacing:-0.612480px;}
.ls19{letter-spacing:-0.611040px;}
.ls14{letter-spacing:-0.528960px;}
.ls1d{letter-spacing:-0.473280px;}
.ls12{letter-spacing:-0.432000px;}
.ls16{letter-spacing:-0.417600px;}
.ls1a{letter-spacing:-0.384000px;}
.lsf{letter-spacing:-0.334080px;}
.lse{letter-spacing:-0.312000px;}
.ls18{letter-spacing:-0.278400px;}
.ls8{letter-spacing:-0.194880px;}
.ls4{letter-spacing:-0.192960px;}
.lsc{letter-spacing:-0.168000px;}
.ls1e{letter-spacing:-0.161280px;}
.ls15{letter-spacing:-0.139200px;}
.ls5{letter-spacing:-0.111360px;}
.ls7{letter-spacing:-0.055680px;}
.lsb{letter-spacing:-0.048000px;}
.ls1{letter-spacing:0.000000px;}
.ls3{letter-spacing:0.032160px;}
.lsa{letter-spacing:0.048000px;}
.ls0{letter-spacing:0.055680px;}
.ls1b{letter-spacing:0.096000px;}
.ls9{letter-spacing:0.111360px;}
.ls2{letter-spacing:0.160800px;}
.ls1f{letter-spacing:0.161280px;}
.lsd{letter-spacing:0.216000px;}
.ls6{letter-spacing:0.278400px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws32{word-spacing:-0.528960px;}
.ws26{word-spacing:-0.480000px;}
.ws1a{word-spacing:-0.417600px;}
.ws27{word-spacing:-0.334080px;}
.ws13{word-spacing:-0.306240px;}
.ws8{word-spacing:-0.278400px;}
.ws11{word-spacing:-0.216000px;}
.ws39{word-spacing:-0.161280px;}
.ws0{word-spacing:-0.111360px;}
.ws22{word-spacing:-0.055680px;}
.wse{word-spacing:-0.048000px;}
.ws3{word-spacing:-0.032160px;}
.ws1{word-spacing:0.000000px;}
.ws2{word-spacing:0.032160px;}
.ws10{word-spacing:0.048000px;}
.ws6{word-spacing:0.055680px;}
.ws19{word-spacing:0.083520px;}
.wsc{word-spacing:0.096000px;}
.wsb{word-spacing:0.111360px;}
.ws1e{word-spacing:0.139200px;}
.ws3b{word-spacing:0.161280px;}
.ws28{word-spacing:0.167040px;}
.wsd{word-spacing:0.168000px;}
.ws5{word-spacing:0.192960px;}
.wsa{word-spacing:0.194880px;}
.wsf{word-spacing:0.216000px;}
.ws23{word-spacing:0.278400px;}
.ws12{word-spacing:0.312000px;}
.ws24{word-spacing:0.321600px;}
.ws3e{word-spacing:0.322560px;}
.ws15{word-spacing:0.334080px;}
.ws2e{word-spacing:0.361920px;}
.ws25{word-spacing:0.384000px;}
.ws4{word-spacing:0.385920px;}
.ws21{word-spacing:0.417600px;}
.ws17{word-spacing:0.432000px;}
.ws14{word-spacing:0.473280px;}
.ws7{word-spacing:0.528960px;}
.ws1c{word-spacing:0.556800px;}
.ws29{word-spacing:0.611040px;}
.ws9{word-spacing:0.612480px;}
.ws18{word-spacing:0.640320px;}
.ws16{word-spacing:0.696000px;}
.ws2d{word-spacing:0.792000px;}
.ws37{word-spacing:0.806400px;}
.ws38{word-spacing:1.290240px;}
.ws1b{word-spacing:1.531200px;}
.ws3c{word-spacing:1.753920px;}
.ws2f{word-spacing:2.004480px;}
.ws1f{word-spacing:2.477760px;}
.ws3d{word-spacing:2.721600px;}
.ws20{word-spacing:2.951040px;}
.ws3a{word-spacing:3.205440px;}
.ws30{word-spacing:3.424320px;}
.ws2a{word-spacing:3.792000px;}
.ws31{word-spacing:3.925440px;}
.ws2c{word-spacing:6.192000px;}
.ws35{word-spacing:6.765120px;}
.ws34{word-spacing:7.071360px;}
.ws2b{word-spacing:7.152000px;}
.ws36{word-spacing:7.266240px;}
.ws33{word-spacing:7.767360px;}
.ws1d{word-spacing:10.634880px;}
._0{margin-left:-1.286400px;}
._1{width:1.189920px;}
._5{width:2.467200px;}
._6{width:4.146720px;}
._3{width:10.217280px;}
._4{width:19.044960px;}
._2{width:39.644160px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:3.840000px;}
.fs5{font-size:8.160000px;}
.fs9{font-size:12.000000px;}
.fs7{font-size:15.840000px;}
.fs8{font-size:20.160000px;}
.fsd{font-size:22.080000px;}
.fs6{font-size:24.000000px;}
.fs0{font-size:27.840000px;}
.fs4{font-size:30.240000px;}
.fsa{font-size:31.999963px;}
.fsc{font-size:32.000000px;}
.fsb{font-size:32.000037px;}
.fs1{font-size:32.160000px;}
.fs3{font-size:39.840000px;}
.y15{bottom:-6.480000px;}
.y9{bottom:0.000000px;}
.y8c{bottom:0.342700px;}
.y85{bottom:0.343000px;}
.y14{bottom:0.360000px;}
.y23{bottom:0.480000px;}
.y8f{bottom:1.342900px;}
.y91{bottom:1.343002px;}
.y70{bottom:1.560000px;}
.y55{bottom:1.680000px;}
.yb{bottom:1.800000px;}
.y74{bottom:2.040000px;}
.y76{bottom:2.160000px;}
.y6e{bottom:2.280000px;}
.yf{bottom:5.040000px;}
.y17{bottom:6.720000px;}
.y1b{bottom:6.840000px;}
.y11{bottom:7.200000px;}
.y13{bottom:7.320000px;}
.yc{bottom:9.360000px;}
.ya{bottom:9.840000px;}
.y83{bottom:24.966000px;}
.y5{bottom:25.680000px;}
.y82{bottom:33.004800px;}
.y81{bottom:41.043600px;}
.y2{bottom:44.160000px;}
.y80{bottom:49.082400px;}
.y7f{bottom:57.121200px;}
.y7e{bottom:65.160000px;}
.y7d{bottom:72.120240px;}
.y7c{bottom:74.400960px;}
.y7b{bottom:76.800000px;}
.y0{bottom:78.500000px;}
.y7a{bottom:79.080000px;}
.y8e{bottom:79.355700px;}
.y90{bottom:86.538000px;}
.y79{bottom:87.600000px;}
.y8d{bottom:88.381401px;}
.y78{bottom:96.120000px;}
.y8b{bottom:97.246500px;}
.y77{bottom:104.760000px;}
.y8a{bottom:105.042001px;}
.y75{bottom:113.760000px;}
.y73{bottom:122.880000px;}
.y89{bottom:124.717001px;}
.y56{bottom:131.880000px;}
.y88{bottom:132.811999px;}
.y45{bottom:138.240000px;}
.y72{bottom:140.520000px;}
.y87{bottom:140.893001px;}
.y71{bottom:149.040000px;}
.y86{bottom:149.421001px;}
.y6c{bottom:152.417280px;}
.y6f{bottom:157.560000px;}
.y84{bottom:158.115999px;}
.y6b{bottom:160.456080px;}
.y6d{bottom:166.080000px;}
.y6a{bottom:168.494880px;}
.y44{bottom:175.200000px;}
.y69{bottom:176.533680px;}
.y57{bottom:177.960000px;}
.y68{bottom:184.572480px;}
.y54{bottom:184.801200px;}
.y67{bottom:192.611280px;}
.y53{bottom:192.840000px;}
.y66{bottom:200.650080px;}
.y52{bottom:201.720000px;}
.y65{bottom:208.688880px;}
.y51{bottom:209.395920px;}
.y64{bottom:216.727680px;}
.y50{bottom:219.119040px;}
.y63{bottom:224.766480px;}
.y4f{bottom:228.716880px;}
.y62{bottom:232.923600px;}
.y4e{bottom:238.440000px;}
.y61{bottom:240.962400px;}
.y4d{bottom:247.200000px;}
.y60{bottom:249.001200px;}
.y4c{bottom:253.680000px;}
.y5f{bottom:257.040000px;}
.y4b{bottom:261.840000px;}
.y5e{bottom:264.840000px;}
.y4a{bottom:267.360000px;}
.y5d{bottom:271.800000px;}
.y49{bottom:276.000000px;}
.y5c{bottom:278.640000px;}
.y48{bottom:284.640000px;}
.y5b{bottom:285.600000px;}
.y5a{bottom:292.440000px;}
.y47{bottom:294.960000px;}
.y59{bottom:298.800000px;}
.y58{bottom:302.880000px;}
.y46{bottom:305.640000px;}
.y43{bottom:316.200000px;}
.y42{bottom:319.571520px;}
.y41{bottom:327.610320px;}
.y40{bottom:335.892720px;}
.y3f{bottom:343.931520px;}
.y3e{bottom:351.970320px;}
.y3d{bottom:360.009120px;}
.y3c{bottom:367.929600px;}
.y3b{bottom:375.968400px;}
.y3a{bottom:384.007200px;}
.y39{bottom:392.046000px;}
.y38{bottom:400.084800px;}
.y37{bottom:408.123600px;}
.y36{bottom:416.162400px;}
.y35{bottom:424.201200px;}
.y34{bottom:432.240000px;}
.y33{bottom:432.246720px;}
.y32{bottom:440.403840px;}
.y31{bottom:448.442640px;}
.y30{bottom:457.080000px;}
.y2f{bottom:465.240000px;}
.y2e{bottom:478.560000px;}
.y2d{bottom:491.880000px;}
.y2c{bottom:505.200000px;}
.y2b{bottom:518.400000px;}
.y2a{bottom:531.720000px;}
.yb6{bottom:540.000000px;}
.y29{bottom:545.040000px;}
.yb5{bottom:547.560000px;}
.yb4{bottom:558.241920px;}
.y28{bottom:559.920000px;}
.yb3{bottom:566.280720px;}
.y27{bottom:566.880000px;}
.yb2{bottom:574.201200px;}
.y26{bottom:580.200000px;}
.yb1{bottom:582.240000px;}
.yb0{bottom:590.034240px;}
.y25{bottom:593.520000px;}
.yaf{bottom:595.794960px;}
.yae{bottom:601.555680px;}
.y24{bottom:606.840000px;}
.yad{bottom:607.316400px;}
.yac{bottom:613.077120px;}
.yab{bottom:618.837840px;}
.y22{bottom:620.040000px;}
.yaa{bottom:624.598560px;}
.ya9{bottom:630.359280px;}
.y21{bottom:633.360000px;}
.ya8{bottom:636.120000px;}
.ya7{bottom:641.040000px;}
.ya6{bottom:644.406000px;}
.y20{bottom:646.680000px;}
.ya5{bottom:652.563120px;}
.y1f{bottom:660.480000px;}
.ya4{bottom:660.483600px;}
.y1e{bottom:664.440000px;}
.ya3{bottom:668.522400px;}
.y1d{bottom:672.720000px;}
.y1c{bottom:675.000000px;}
.ya2{bottom:676.561200px;}
.ya1{bottom:684.600000px;}
.ya0{bottom:684.613880px;}
.y1a{bottom:687.720000px;}
.y9f{bottom:692.652680px;}
.y19{bottom:700.560000px;}
.y9e{bottom:700.809800px;}
.y9d{bottom:708.966920px;}
.y18{bottom:713.760000px;}
.y9c{bottom:716.887400px;}
.y9b{bottom:724.926200px;}
.y16{bottom:727.080000px;}
.y9a{bottom:732.965000px;}
.y12{bottom:740.280000px;}
.y99{bottom:741.003800px;}
.y98{bottom:749.042600px;}
.ye{bottom:753.600000px;}
.y97{bottom:757.081400px;}
.y10{bottom:758.640000px;}
.y96{bottom:765.120200px;}
.yd{bottom:767.280000px;}
.y1{bottom:769.560000px;}
.y92{bottom:771.500000px;}
.y95{bottom:771.603120px;}
.y4{bottom:787.200000px;}
.y8{bottom:794.040000px;}
.y7{bottom:800.880000px;}
.y6{bottom:803.760000px;}
.y3{bottom:804.840000px;}
.y94{bottom:806.041200px;}
.y93{bottom:814.080000px;}
.h6{height:3.991875px;}
.h24{height:6.621992px;}
.h26{height:6.622008px;}
.h28{height:6.622500px;}
.h20{height:8.040000px;}
.h21{height:8.041000px;}
.h22{height:8.160000px;}
.hc{height:8.482734px;}
.h23{height:8.520000px;}
.h18{height:8.614219px;}
.h2b{height:8.622000px;}
.h2a{height:8.622100px;}
.h1f{height:8.640000px;}
.h15{height:12.240000px;}
.h14{height:12.361000px;}
.h1e{height:12.667969px;}
.h12{height:12.720000px;}
.hd{height:12.721000px;}
.h13{height:12.839000px;}
.h11{height:12.840000px;}
.h9{height:16.200000px;}
.h1a{height:16.721719px;}
.h2e{height:20.110781px;}
.h2d{height:20.514375px;}
.h1b{height:20.957344px;}
.h2f{height:22.953281px;}
.h10{height:24.949219px;}
.h1d{height:25.335938px;}
.hf{height:26.003906px;}
.h17{height:27.772031px;}
.h16{height:28.941094px;}
.h3{height:29.389688px;}
.he{height:30.164531px;}
.hb{height:31.436016px;}
.ha{height:31.923281px;}
.h5{height:32.880000px;}
.h25{height:33.265586px;}
.h29{height:33.265625px;}
.h27{height:33.265664px;}
.h8{height:33.431953px;}
.h2c{height:33.500000px;}
.h4{height:33.950156px;}
.h7{height:41.415703px;}
.h2{height:50.520000px;}
.h19{height:140.040000px;}
.h1c{height:183.361000px;}
.h1{height:742.000000px;}
.h0{height:841.920000px;}
.w13{width:11.281000px;}
.w7{width:13.560000px;}
.w10{width:13.800000px;}
.w28{width:25.560000px;}
.w5{width:56.520000px;}
.w27{width:83.880000px;}
.w20{width:91.679000px;}
.w2c{width:100.285000px;}
.w2b{width:100.286000px;}
.w2d{width:102.285000px;}
.w22{width:102.600000px;}
.w29{width:104.760000px;}
.w2e{width:106.680000px;}
.w15{width:107.280000px;}
.w17{width:107.400000px;}
.wf{width:120.001000px;}
.w1d{width:126.121000px;}
.w2{width:127.080000px;}
.w1b{width:130.920000px;}
.w2f{width:132.500000px;}
.w1a{width:133.200000px;}
.w19{width:134.159000px;}
.w9{width:134.160000px;}
.we{width:141.240000px;}
.w1e{width:141.480000px;}
.w1f{width:144.841000px;}
.w4{width:146.280000px;}
.w25{width:148.199000px;}
.wc{width:155.399000px;}
.w1c{width:155.400000px;}
.wb{width:155.520000px;}
.w16{width:160.080000px;}
.wd{width:169.681000px;}
.w21{width:175.680000px;}
.wa{width:176.760000px;}
.w18{width:178.920000px;}
.w23{width:183.721000px;}
.w8{width:190.920000px;}
.w11{width:191.400000px;}
.w26{width:202.080000px;}
.w12{width:267.840000px;}
.w14{width:286.800000px;}
.w3{width:289.201000px;}
.w6{width:311.400000px;}
.w2a{width:312.120000px;}
.w24{width:417.119000px;}
.w1{width:568.000000px;}
.w0{width:595.320000px;}
.x13{left:-27.720000px;}
.xa{left:0.000000px;}
.x37{left:2.000000px;}
.xe{left:3.240000px;}
.x18{left:5.040000px;}
.x2a{left:6.720000px;}
.x8{left:14.400000px;}
.xb{left:18.360000px;}
.x0{left:25.500000px;}
.x1{left:29.040000px;}
.x2d{left:30.840000px;}
.x2b{left:32.520000px;}
.x24{left:39.735600px;}
.x25{left:43.606080px;}
.x2c{left:60.960000px;}
.x11{left:62.400000px;}
.xc{left:70.920000px;}
.xd{left:75.360000px;}
.x3{left:80.640000px;}
.x9{left:99.360000px;}
.x21{left:117.960000px;}
.x17{left:127.200000px;}
.x1b{left:133.560000px;}
.x7{left:135.600000px;}
.x2{left:153.120000px;}
.x5{left:156.600000px;}
.x1d{left:160.440000px;}
.x1f{left:167.520000px;}
.x16{left:195.840000px;}
.x12{left:210.000000px;}
.x28{left:211.230720px;}
.x4{left:225.240000px;}
.x32{left:228.120000px;}
.x14{left:231.360000px;}
.x15{left:245.520000px;}
.x27{left:254.083440px;}
.x23{left:276.480000px;}
.x29{left:291.960000px;}
.x19{left:294.240000px;}
.x26{left:299.086800px;}
.x1a{left:306.000000px;}
.x33{left:312.360000px;}
.x3b{left:323.520000px;}
.x34{left:338.160000px;}
.x36{left:340.760000px;}
.x35{left:341.778000px;}
.xf{left:387.360000px;}
.x10{left:401.400000px;}
.x22{left:409.080000px;}
.x1c{left:413.880000px;}
.x39{left:426.000000px;}
.x1e{left:437.400000px;}
.x6{left:442.320000px;}
.x2e{left:443.400000px;}
.x20{left:447.960000px;}
.x31{left:453.000000px;}
.x2f{left:480.960000px;}
.x38{left:485.640000px;}
.x30{left:517.440000px;}
.x3a{left:558.480240px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1c{letter-spacing:-1.056000pt;}
.ls17{letter-spacing:-0.928000pt;}
.ls11{letter-spacing:-0.864000pt;}
.ls10{letter-spacing:-0.853760pt;}
.ls13{letter-spacing:-0.816640pt;}
.ls19{letter-spacing:-0.814720pt;}
.ls14{letter-spacing:-0.705280pt;}
.ls1d{letter-spacing:-0.631040pt;}
.ls12{letter-spacing:-0.576000pt;}
.ls16{letter-spacing:-0.556800pt;}
.ls1a{letter-spacing:-0.512000pt;}
.lsf{letter-spacing:-0.445440pt;}
.lse{letter-spacing:-0.416000pt;}
.ls18{letter-spacing:-0.371200pt;}
.ls8{letter-spacing:-0.259840pt;}
.ls4{letter-spacing:-0.257280pt;}
.lsc{letter-spacing:-0.224000pt;}
.ls1e{letter-spacing:-0.215040pt;}
.ls15{letter-spacing:-0.185600pt;}
.ls5{letter-spacing:-0.148480pt;}
.ls7{letter-spacing:-0.074240pt;}
.lsb{letter-spacing:-0.064000pt;}
.ls1{letter-spacing:0.000000pt;}
.ls3{letter-spacing:0.042880pt;}
.lsa{letter-spacing:0.064000pt;}
.ls0{letter-spacing:0.074240pt;}
.ls1b{letter-spacing:0.128000pt;}
.ls9{letter-spacing:0.148480pt;}
.ls2{letter-spacing:0.214400pt;}
.ls1f{letter-spacing:0.215040pt;}
.lsd{letter-spacing:0.288000pt;}
.ls6{letter-spacing:0.371200pt;}
.ws32{word-spacing:-0.705280pt;}
.ws26{word-spacing:-0.640000pt;}
.ws1a{word-spacing:-0.556800pt;}
.ws27{word-spacing:-0.445440pt;}
.ws13{word-spacing:-0.408320pt;}
.ws8{word-spacing:-0.371200pt;}
.ws11{word-spacing:-0.288000pt;}
.ws39{word-spacing:-0.215040pt;}
.ws0{word-spacing:-0.148480pt;}
.ws22{word-spacing:-0.074240pt;}
.wse{word-spacing:-0.064000pt;}
.ws3{word-spacing:-0.042880pt;}
.ws1{word-spacing:0.000000pt;}
.ws2{word-spacing:0.042880pt;}
.ws10{word-spacing:0.064000pt;}
.ws6{word-spacing:0.074240pt;}
.ws19{word-spacing:0.111360pt;}
.wsc{word-spacing:0.128000pt;}
.wsb{word-spacing:0.148480pt;}
.ws1e{word-spacing:0.185600pt;}
.ws3b{word-spacing:0.215040pt;}
.ws28{word-spacing:0.222720pt;}
.wsd{word-spacing:0.224000pt;}
.ws5{word-spacing:0.257280pt;}
.wsa{word-spacing:0.259840pt;}
.wsf{word-spacing:0.288000pt;}
.ws23{word-spacing:0.371200pt;}
.ws12{word-spacing:0.416000pt;}
.ws24{word-spacing:0.428800pt;}
.ws3e{word-spacing:0.430080pt;}
.ws15{word-spacing:0.445440pt;}
.ws2e{word-spacing:0.482560pt;}
.ws25{word-spacing:0.512000pt;}
.ws4{word-spacing:0.514560pt;}
.ws21{word-spacing:0.556800pt;}
.ws17{word-spacing:0.576000pt;}
.ws14{word-spacing:0.631040pt;}
.ws7{word-spacing:0.705280pt;}
.ws1c{word-spacing:0.742400pt;}
.ws29{word-spacing:0.814720pt;}
.ws9{word-spacing:0.816640pt;}
.ws18{word-spacing:0.853760pt;}
.ws16{word-spacing:0.928000pt;}
.ws2d{word-spacing:1.056000pt;}
.ws37{word-spacing:1.075200pt;}
.ws38{word-spacing:1.720320pt;}
.ws1b{word-spacing:2.041600pt;}
.ws3c{word-spacing:2.338560pt;}
.ws2f{word-spacing:2.672640pt;}
.ws1f{word-spacing:3.303680pt;}
.ws3d{word-spacing:3.628800pt;}
.ws20{word-spacing:3.934720pt;}
.ws3a{word-spacing:4.273920pt;}
.ws30{word-spacing:4.565760pt;}
.ws2a{word-spacing:5.056000pt;}
.ws31{word-spacing:5.233920pt;}
.ws2c{word-spacing:8.256000pt;}
.ws35{word-spacing:9.020160pt;}
.ws34{word-spacing:9.428480pt;}
.ws2b{word-spacing:9.536000pt;}
.ws36{word-spacing:9.688320pt;}
.ws33{word-spacing:10.356480pt;}
.ws1d{word-spacing:14.179840pt;}
._0{margin-left:-1.715200pt;}
._1{width:1.586560pt;}
._5{width:3.289600pt;}
._6{width:5.528960pt;}
._3{width:13.623040pt;}
._4{width:25.393280pt;}
._2{width:52.858880pt;}
.fs2{font-size:5.120000pt;}
.fs5{font-size:10.880000pt;}
.fs9{font-size:16.000000pt;}
.fs7{font-size:21.120000pt;}
.fs8{font-size:26.880000pt;}
.fsd{font-size:29.440000pt;}
.fs6{font-size:32.000000pt;}
.fs0{font-size:37.120000pt;}
.fs4{font-size:40.320000pt;}
.fsa{font-size:42.666617pt;}
.fsc{font-size:42.666667pt;}
.fsb{font-size:42.666716pt;}
.fs1{font-size:42.880000pt;}
.fs3{font-size:53.120000pt;}
.y15{bottom:-8.640000pt;}
.y9{bottom:0.000000pt;}
.y8c{bottom:0.456933pt;}
.y85{bottom:0.457333pt;}
.y14{bottom:0.480000pt;}
.y23{bottom:0.640000pt;}
.y8f{bottom:1.790533pt;}
.y91{bottom:1.790669pt;}
.y70{bottom:2.080000pt;}
.y55{bottom:2.240000pt;}
.yb{bottom:2.400000pt;}
.y74{bottom:2.720000pt;}
.y76{bottom:2.880000pt;}
.y6e{bottom:3.040000pt;}
.yf{bottom:6.720000pt;}
.y17{bottom:8.960000pt;}
.y1b{bottom:9.120000pt;}
.y11{bottom:9.600000pt;}
.y13{bottom:9.760000pt;}
.yc{bottom:12.480000pt;}
.ya{bottom:13.120000pt;}
.y83{bottom:33.288000pt;}
.y5{bottom:34.240000pt;}
.y82{bottom:44.006400pt;}
.y81{bottom:54.724800pt;}
.y2{bottom:58.880000pt;}
.y80{bottom:65.443200pt;}
.y7f{bottom:76.161600pt;}
.y7e{bottom:86.880000pt;}
.y7d{bottom:96.160320pt;}
.y7c{bottom:99.201280pt;}
.y7b{bottom:102.400000pt;}
.y0{bottom:104.666667pt;}
.y7a{bottom:105.440000pt;}
.y8e{bottom:105.807600pt;}
.y90{bottom:115.384000pt;}
.y79{bottom:116.800000pt;}
.y8d{bottom:117.841868pt;}
.y78{bottom:128.160000pt;}
.y8b{bottom:129.662000pt;}
.y77{bottom:139.680000pt;}
.y8a{bottom:140.056002pt;}
.y75{bottom:151.680000pt;}
.y73{bottom:163.840000pt;}
.y89{bottom:166.289335pt;}
.y56{bottom:175.840000pt;}
.y88{bottom:177.082665pt;}
.y45{bottom:184.320000pt;}
.y72{bottom:187.360000pt;}
.y87{bottom:187.857335pt;}
.y71{bottom:198.720000pt;}
.y86{bottom:199.228002pt;}
.y6c{bottom:203.223040pt;}
.y6f{bottom:210.080000pt;}
.y84{bottom:210.821332pt;}
.y6b{bottom:213.941440pt;}
.y6d{bottom:221.440000pt;}
.y6a{bottom:224.659840pt;}
.y44{bottom:233.600000pt;}
.y69{bottom:235.378240pt;}
.y57{bottom:237.280000pt;}
.y68{bottom:246.096640pt;}
.y54{bottom:246.401600pt;}
.y67{bottom:256.815040pt;}
.y53{bottom:257.120000pt;}
.y66{bottom:267.533440pt;}
.y52{bottom:268.960000pt;}
.y65{bottom:278.251840pt;}
.y51{bottom:279.194560pt;}
.y64{bottom:288.970240pt;}
.y50{bottom:292.158720pt;}
.y63{bottom:299.688640pt;}
.y4f{bottom:304.955840pt;}
.y62{bottom:310.564800pt;}
.y4e{bottom:317.920000pt;}
.y61{bottom:321.283200pt;}
.y4d{bottom:329.600000pt;}
.y60{bottom:332.001600pt;}
.y4c{bottom:338.240000pt;}
.y5f{bottom:342.720000pt;}
.y4b{bottom:349.120000pt;}
.y5e{bottom:353.120000pt;}
.y4a{bottom:356.480000pt;}
.y5d{bottom:362.400000pt;}
.y49{bottom:368.000000pt;}
.y5c{bottom:371.520000pt;}
.y48{bottom:379.520000pt;}
.y5b{bottom:380.800000pt;}
.y5a{bottom:389.920000pt;}
.y47{bottom:393.280000pt;}
.y59{bottom:398.400000pt;}
.y58{bottom:403.840000pt;}
.y46{bottom:407.520000pt;}
.y43{bottom:421.600000pt;}
.y42{bottom:426.095360pt;}
.y41{bottom:436.813760pt;}
.y40{bottom:447.856960pt;}
.y3f{bottom:458.575360pt;}
.y3e{bottom:469.293760pt;}
.y3d{bottom:480.012160pt;}
.y3c{bottom:490.572800pt;}
.y3b{bottom:501.291200pt;}
.y3a{bottom:512.009600pt;}
.y39{bottom:522.728000pt;}
.y38{bottom:533.446400pt;}
.y37{bottom:544.164800pt;}
.y36{bottom:554.883200pt;}
.y35{bottom:565.601600pt;}
.y34{bottom:576.320000pt;}
.y33{bottom:576.328960pt;}
.y32{bottom:587.205120pt;}
.y31{bottom:597.923520pt;}
.y30{bottom:609.440000pt;}
.y2f{bottom:620.320000pt;}
.y2e{bottom:638.080000pt;}
.y2d{bottom:655.840000pt;}
.y2c{bottom:673.600000pt;}
.y2b{bottom:691.200000pt;}
.y2a{bottom:708.960000pt;}
.yb6{bottom:720.000000pt;}
.y29{bottom:726.720000pt;}
.yb5{bottom:730.080000pt;}
.yb4{bottom:744.322560pt;}
.y28{bottom:746.560000pt;}
.yb3{bottom:755.040960pt;}
.y27{bottom:755.840000pt;}
.yb2{bottom:765.601600pt;}
.y26{bottom:773.600000pt;}
.yb1{bottom:776.320000pt;}
.yb0{bottom:786.712320pt;}
.y25{bottom:791.360000pt;}
.yaf{bottom:794.393280pt;}
.yae{bottom:802.074240pt;}
.y24{bottom:809.120000pt;}
.yad{bottom:809.755200pt;}
.yac{bottom:817.436160pt;}
.yab{bottom:825.117120pt;}
.y22{bottom:826.720000pt;}
.yaa{bottom:832.798080pt;}
.ya9{bottom:840.479040pt;}
.y21{bottom:844.480000pt;}
.ya8{bottom:848.160000pt;}
.ya7{bottom:854.720000pt;}
.ya6{bottom:859.208000pt;}
.y20{bottom:862.240000pt;}
.ya5{bottom:870.084160pt;}
.y1f{bottom:880.640000pt;}
.ya4{bottom:880.644800pt;}
.y1e{bottom:885.920000pt;}
.ya3{bottom:891.363200pt;}
.y1d{bottom:896.960000pt;}
.y1c{bottom:900.000000pt;}
.ya2{bottom:902.081600pt;}
.ya1{bottom:912.800000pt;}
.ya0{bottom:912.818507pt;}
.y1a{bottom:916.960000pt;}
.y9f{bottom:923.536907pt;}
.y19{bottom:934.080000pt;}
.y9e{bottom:934.413067pt;}
.y9d{bottom:945.289227pt;}
.y18{bottom:951.680000pt;}
.y9c{bottom:955.849867pt;}
.y9b{bottom:966.568267pt;}
.y16{bottom:969.440000pt;}
.y9a{bottom:977.286667pt;}
.y12{bottom:987.040000pt;}
.y99{bottom:988.005067pt;}
.y98{bottom:998.723467pt;}
.ye{bottom:1004.800000pt;}
.y97{bottom:1009.441867pt;}
.y10{bottom:1011.520000pt;}
.y96{bottom:1020.160267pt;}
.yd{bottom:1023.040000pt;}
.y1{bottom:1026.080000pt;}
.y92{bottom:1028.666667pt;}
.y95{bottom:1028.804160pt;}
.y4{bottom:1049.600000pt;}
.y8{bottom:1058.720000pt;}
.y7{bottom:1067.840000pt;}
.y6{bottom:1071.680000pt;}
.y3{bottom:1073.120000pt;}
.y94{bottom:1074.721600pt;}
.y93{bottom:1085.440000pt;}
.h6{height:5.322500pt;}
.h24{height:8.829323pt;}
.h26{height:8.829344pt;}
.h28{height:8.830000pt;}
.h20{height:10.720000pt;}
.h21{height:10.721333pt;}
.h22{height:10.880000pt;}
.hc{height:11.310312pt;}
.h23{height:11.360000pt;}
.h18{height:11.485625pt;}
.h2b{height:11.496000pt;}
.h2a{height:11.496133pt;}
.h1f{height:11.520000pt;}
.h15{height:16.320000pt;}
.h14{height:16.481333pt;}
.h1e{height:16.890625pt;}
.h12{height:16.960000pt;}
.hd{height:16.961333pt;}
.h13{height:17.118667pt;}
.h11{height:17.120000pt;}
.h9{height:21.600000pt;}
.h1a{height:22.295625pt;}
.h2e{height:26.814375pt;}
.h2d{height:27.352500pt;}
.h1b{height:27.943125pt;}
.h2f{height:30.604375pt;}
.h10{height:33.265625pt;}
.h1d{height:33.781250pt;}
.hf{height:34.671875pt;}
.h17{height:37.029375pt;}
.h16{height:38.588125pt;}
.h3{height:39.186250pt;}
.he{height:40.219375pt;}
.hb{height:41.914687pt;}
.ha{height:42.564375pt;}
.h5{height:43.840000pt;}
.h25{height:44.354115pt;}
.h29{height:44.354167pt;}
.h27{height:44.354218pt;}
.h8{height:44.575937pt;}
.h2c{height:44.666667pt;}
.h4{height:45.266875pt;}
.h7{height:55.220937pt;}
.h2{height:67.360000pt;}
.h19{height:186.720000pt;}
.h1c{height:244.481333pt;}
.h1{height:989.333333pt;}
.h0{height:1122.560000pt;}
.w13{width:15.041333pt;}
.w7{width:18.080000pt;}
.w10{width:18.400000pt;}
.w28{width:34.080000pt;}
.w5{width:75.360000pt;}
.w27{width:111.840000pt;}
.w20{width:122.238667pt;}
.w2c{width:133.713333pt;}
.w2b{width:133.714667pt;}
.w2d{width:136.380000pt;}
.w22{width:136.800000pt;}
.w29{width:139.680000pt;}
.w2e{width:142.240000pt;}
.w15{width:143.040000pt;}
.w17{width:143.200000pt;}
.wf{width:160.001333pt;}
.w1d{width:168.161333pt;}
.w2{width:169.440000pt;}
.w1b{width:174.560000pt;}
.w2f{width:176.666667pt;}
.w1a{width:177.600000pt;}
.w19{width:178.878667pt;}
.w9{width:178.880000pt;}
.we{width:188.320000pt;}
.w1e{width:188.640000pt;}
.w1f{width:193.121333pt;}
.w4{width:195.040000pt;}
.w25{width:197.598667pt;}
.wc{width:207.198667pt;}
.w1c{width:207.200000pt;}
.wb{width:207.360000pt;}
.w16{width:213.440000pt;}
.wd{width:226.241333pt;}
.w21{width:234.240000pt;}
.wa{width:235.680000pt;}
.w18{width:238.560000pt;}
.w23{width:244.961333pt;}
.w8{width:254.560000pt;}
.w11{width:255.200000pt;}
.w26{width:269.440000pt;}
.w12{width:357.120000pt;}
.w14{width:382.400000pt;}
.w3{width:385.601333pt;}
.w6{width:415.200000pt;}
.w2a{width:416.160000pt;}
.w24{width:556.158667pt;}
.w1{width:757.333333pt;}
.w0{width:793.760000pt;}
.x13{left:-36.960000pt;}
.xa{left:0.000000pt;}
.x37{left:2.666667pt;}
.xe{left:4.320000pt;}
.x18{left:6.720000pt;}
.x2a{left:8.960000pt;}
.x8{left:19.200000pt;}
.xb{left:24.480000pt;}
.x0{left:34.000000pt;}
.x1{left:38.720000pt;}
.x2d{left:41.120000pt;}
.x2b{left:43.360000pt;}
.x24{left:52.980800pt;}
.x25{left:58.141440pt;}
.x2c{left:81.280000pt;}
.x11{left:83.200000pt;}
.xc{left:94.560000pt;}
.xd{left:100.480000pt;}
.x3{left:107.520000pt;}
.x9{left:132.480000pt;}
.x21{left:157.280000pt;}
.x17{left:169.600000pt;}
.x1b{left:178.080000pt;}
.x7{left:180.800000pt;}
.x2{left:204.160000pt;}
.x5{left:208.800000pt;}
.x1d{left:213.920000pt;}
.x1f{left:223.360000pt;}
.x16{left:261.120000pt;}
.x12{left:280.000000pt;}
.x28{left:281.640960pt;}
.x4{left:300.320000pt;}
.x32{left:304.160000pt;}
.x14{left:308.480000pt;}
.x15{left:327.360000pt;}
.x27{left:338.777920pt;}
.x23{left:368.640000pt;}
.x29{left:389.280000pt;}
.x19{left:392.320000pt;}
.x26{left:398.782400pt;}
.x1a{left:408.000000pt;}
.x33{left:416.480000pt;}
.x3b{left:431.360000pt;}
.x34{left:450.880000pt;}
.x36{left:454.346667pt;}
.x35{left:455.704000pt;}
.xf{left:516.480000pt;}
.x10{left:535.200000pt;}
.x22{left:545.440000pt;}
.x1c{left:551.840000pt;}
.x39{left:568.000000pt;}
.x1e{left:583.200000pt;}
.x6{left:589.760000pt;}
.x2e{left:591.200000pt;}
.x20{left:597.280000pt;}
.x31{left:604.000000pt;}
.x2f{left:641.280000pt;}
.x38{left:647.520000pt;}
.x30{left:689.920000pt;}
.x3a{left:744.640320pt;}
}
